<div class="comment">
    <div class="left-col">
        <div class="col">
            <div class="avatar"><img src="{{ comment._author.image }}" alt="{{ comment._author.display_name }}'s avatar"></div>
        </div>
        <div class="col">
            <a href="/@{{ post._author.username }}"><div class="comment__username">{{ comment._author.username }}</div></a>
            <div class="comment__timestamp">{{ comment.date_posted.date|timeago }}</div>
        </div>
    </div>
    <div class="center-col">
        <div class="comment__text">
            {{ comment.content }}
        </div>
    </div>
    <div class="right-col">
        <div class="comment__score">
            <a href="#" class="action action__upvote"><i class="fa fa-regular fa-plus"></i></a>
            <div class="score">{{ comment.score }}</div>
            <div class="action action__downvote"><i class="fa fa-regular fa-minus"></i></div>
        </div>
    </div>
</div>