<aside class="page__sidebar--right">
    <div class="sidebar__block">
        <header class="block__header" style="--bg: url('https://loremflickr.com/320/240')">
            <div class="heading">Block heading</div>
            <div class="actions">
                <a href="#" class="action--icon"><i class="fa fa-regular fa-ellipsis"></i></a>
                <a href="#" class="action--icon"><i class="fa fa-regular fa-gears"></i></a>
            </div>
        </header>
        <div class="block__body">
            <section class="meta">
                <div class="left">
                    <i class="fa fa-regular fa-gears"></i>
                </div>
                <div class="right">
                    <p>Meta</p>
                    <p>5 members</p>
                </div>
            </section>
            <section class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam assumenda doloremque enim quo reiciendis repudiandae tenetur voluptatem. A aliquam cum dicta maxime minima molestias neque quaerat qui rem, ullam?</p>
            </section>
        </div>
        <footer class="block__footer">
            <div class="actions">
                <a href="#" class="action">123</a>
                <a href="#" class="action">123</a>
            </div>
        </footer>
    </div>
</aside>