{% extends "_page.twig" %}

{% block page__content %}
    <div class="stories">
        <h2>New posts in {{ community.name }}</h2>
        {% include "_posts.twig" %}
        {#
        {% if posts is not empty %}
            {% for post in posts %}
                <div class="story-container">
                    <div class="left-container">
                        <div class="left">
                            <div class="story__score">
                                {% if post.score is not empty %}
                                    {{ post.score }}
                                {% else %}
                                    <iconify-icon icon="mdi:fly-flower" height="32" width="32"></iconify-icon>
                                {% endif %}
                            </div>
                            <button hx-post="/c/{{ community.name }}/posts/{{ post.id }}/upvote" hx-swap="none" hx-trigger="click" class="btn btn--primary story__upvote" type="button">
                                <iconify-icon inline icon="mdi:shovel"></iconify-icon>
                                <span>Dig</span>
                            </button>
                        </div>
                        <div class="thumb">
                            {% if post.thumbnail is not empty %}
                                <img src="{{ post.thumbnail }}" alt="Post thumbnail">
                            {% else %}
                                {% switch post.post_type %}
                                {% case 'markdown' %}
                                    <i class="fa fa-regular fa-text"></i>
                                {% case 'image' %}
                                    <i class="fa fa-regular fa-image"></i>
                                {% case 'gallery' %}
                                    <i class="fa fa-regular fa-images"></i>
                                {% default %}
                                    <i class="fa fa-regular fa-text"></i>
                                {% endswitch %}
                            {% endif %}
                        </div>
                    </div>
                    <article class="story">
                        <div class="heading-container">
                            <a href="/c/{{ post._community.slug }}/posts/{{ post.id }}"><h class="story__heading">{{ post.name }}</h></a>
                            {% if post.source is not empty %}
                                <div class="story__source"><a href="{{ post.source.url }}" class="url">{{ post.source.domain }}</a></div>
                            {% endif %}
                        </div>
                        <main class="story__body">
                            {{ post.content_teaser|markdown_to_html|raw }}
                        </main>
                        <footer class="story__footer">
                            <div class="story__meta">
                                <div class="meta__date">{{ post.date_posted.date|timeago }}</div>
                                <span class="meta__author">by <a href="/@{{ post._author.username }}" class="user--inline">{% if post._author.display_name is not empty %}<span class="avatar"><img src="{{ post._author.image }}" alt="{{ post._author.display_name }}'s avatar"></span><span class="username">{{ post._author.display_name }}</span>{% else %}<span class="avatar"><img src="{{ post._author.image }}" alt="{{ post._author.username }}'s avatar"></span><span class="username">{{ post._author.username }}</span>{% endif %}</a></span>
                            </div>
                            <div class="story__actions">
                                <a href="/c/{{ post._community.slug }}/posts/{{ post.id }}" class="action"><span class="icon"><i class="fa fa-regular fa-comments"></i></span><span class="text">{{ post._comments._number }}</span></a>
                                <a href="/c/{{ post._community.slug }}/posts/{{ post.id }}/save" class="action"><span class="icon"><i class="fa fa-regular fa-bookmark"></i></span><span class="text">Save</span></a>
                                <a href="/c/{{ post._community.slug }}/posts/{{ post.id }}/downvote" class="action"><span class="icon"><i class="fa fa-regular fa-xmark"></i></span><span class="text">Bury</span></a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        {% else %}
            <div class="story-container">
                <article class="story">
                    <div class="heading-container">
                        <h2 class="story-heading">No posts for now</h2>
                    </div>
                    <main class="story__body" style="display: flex; flex-direction: column;">
                        <p><iconify-icon icon="mdi:fly-flower" height="64" width="64"></iconify-icon></p>
                    </main>
                </article>
            </div>
        {% endif %}
        #}
    </div>
{% endblock %}

{% block page__sidebar__right %}
    <aside class="page__sidebar--right">
        <div class="sidebar__block">
            <header class="block__header">
                <div class="heading">About community</div>
                <div class="actions">
                    <a href="#" class="action--icon"><i class="fa fa-regular fa-ellipsis"></i></a>
                    <a href="/c/{{ community.slug }}/manage" class="action--icon"><i class="fa fa-regular fa-gears"></i></a>
                </div>
            </header>
            <div class="block__body">
                <section class="meta">
                    <div class="left">
                        <i class="fa fa-regular fa-gears"></i>
                    </div>
                    <div class="right">
                        <p><b>{{ community.name }}</b></p>
                        <p>{{ community.users }} members</p>
                    </div>
                </section>
                <section class="description">
                    {{ community.description }}
                </section>
            </div>
            <footer class="block__footer">
                <div class="actions">
                    <a href="/c/{{ community.slug }}/join" class="action action--primary">Join</a>
                    <a href="#" class="action">Share</a>
                </div>
            </footer>
        </div>
    </aside>
{% endblock %}