{% extends "_page.twig" %}

{% block page__content %}
    <div class="stories">
        <div class="messages" style="display: flex; flex-direction: column; gap: 20px;">
            <div class="message" style="display: flex; flex-direction: column; border: 1px solid oklch(0% 0 0); border-radius: 8px; padding: 20px;">
                <h3><i class="fa fa-regular fa-flask"></i> Caution</h3>
                <p>I'm going to focus on developing the underlying css framework for right now, since i feel that the layout is going to crumble, which bothers me and doesn't let me add new pages, or freely tweak forms.</p>
                <p>Expect visual changes and bugs.</p>
            </div>
        </div>
        <h2>New posts in Everything</h2>
        {% include "_posts.twig" %}
    </div>
{% endblock %}

{% block _page_userscripts %}

{% endblock %}