@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /*theme colors*/
  --brand--primary: oklch(50% 0.13 330);
  --header__bg: oklch(50% 0.13 330);
  --header__text: oklch(100% 0 0);
  --header__btn--primary: oklch(60% 0.11 183);
  --header__btn: oklch(43% 0.12 330);
  --header__search__btn: oklch(60% 0.11 183);
  --body__btn: oklch(90% 0 0);
  --body__btn--primary: oklch(50% 0.13 330);
  --body__btn--text: oklch(100% 0 0);
  --story__heading: oklch(50% 0.13 330);
  --story__btn--action: oklch(90% 0 0);
  --story__btn--text: oklch(0% 0 0);
}

html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--brand--primary) no-repeat center/cover;
}

main {
  height: inherit;
  width: inherit;
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  max-height: min-content;
  fill: white;
  width: min-content;
  max-width: 100%;
}
.logo:not(:last-child) {
  margin: 0 20px 0 0;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 340px;
}
.messages .message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
}
.messages .message h {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}
.messages .message .body > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  min-height: 300px;
  width: 340px;
  transition: all 0.2s ease-in-out;
}
.login-box > * {
  width: 100%;
}
.login-box > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.login-box .heading {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box .content {
  flex: 1;
}
.login-box #login-form .field {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}
.login-box #login-form .field label {
  margin: 0 0 10px 0;
}
.login-box #login-form .field input, .login-box #login-form .field select {
  display: flex;
  align-items: center;
  min-height: 20px;
  padding: 10px;
  border: unset;
  border-radius: 4px;
  font-size: 12pt;
}
.login-box #login-form .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.login-box #login-form .btn-group > * {
  flex: 1;
}
.login-box #login-form .btn-group > *:not(:last-child) {
  margin: 0 10px 0 0;
}
.login-box #login-form .btn-group:last-child {
  margin: 20px 0 0 0;
}
.login-box #login-form .btn-login, .login-box #login-form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 10px;
  border: unset;
  border-radius: 4px;
  font-size: 12pt;
}
.login-box #login-form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: oklch(50% 0 0);
  color: white;
  transition: all 0.2s ease-in-out;
}
.login-box #login-form .btn:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.login-box #login-form .btn:hover {
  background: color-mix(in oklch, oklch(50% 0 0), black 10%);
}
.login-box #login-form .btn:active {
  background: color-mix(in oklch, oklch(50% 0 0), black 40%);
}
.login-box #login-form .btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: unset;
  font-family: unset;
  cursor: pointer;
  user-select: none;
  background: var(--brand--primary);
  color: white;
  transition: all 0.2s ease-in-out;
}
.login-box #login-form .btn-login:has(.icon) .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.login-box #login-form .btn-login:hover {
  background: color-mix(in oklch, var(--brand--primary), black 10%);
}
.login-box #login-form .btn-login:active {
  background: color-mix(in oklch, var(--brand--primary), black 40%);
}
@media (240px < width <= 640px) {
  body main {
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
}
@media (640px < width <= 1024px) {
  body main {
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
}

/*# sourceMappingURL=auth.css.map */
