@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../fonts/ki/stylesheet.css";
html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ki", monospace;
  font-size: 14px;
  padding: 20px;
}

.page-container {
  width: 100%;
}

.page__header {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: oklch(50% 0.13 330);
  font-weight: 600;
  font-size: 1.2rem;
}
.page__header .logo svg {
  vertical-align: -0.8rem;
}
.page__header .logo #logo {
  fill: oklch(50% 0.13 330);
}

.page__body {
  border: 3px solid oklch(50% 0.13 330);
  padding: 10px;
  margin: -3px 0 0 0;
}
.page__body img {
  width: auto;
  height: 100%;
  max-height: 600px;
  max-width: 100%;
}

/*# sourceMappingURL=static.css.map */
