@charset "UTF-8";
@use "sass:color";
@use "sass:map";
@use 'sass:meta';
@use 'theme-light';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

// --Mixins--
@function text-contrast-color($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
  $color: white;
  @if abs($color-brightness) < ($light-color/2){
    $color: white;
  }
  @else {
    $color: black;
  }
  @return $color;
}

@mixin text-contrast($n) {
  color: call(text-contrast-color,$n);
}

@mixin generate-variables($map) {
  @each $key, $value in $map {
    --#{$key}: #{$value};
  }
}

@mixin ui__button($fg:white,$bg:black,$size:"md"){
  // baseline
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  // text
  text-decoration: unset;
  font-family: unset;
  // misc
  cursor: pointer;
  user-select: none;
  // colors
  background: $bg;
  color: $fg;
  &:has(.icon){
    .icon{
      display: inline-flex;
      width: 16px;
      height: 16px;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }
  }
  &:hover{
    background: color-mix(in oklch, $bg, black 10%);
  }
  &:active{
    background: color-mix(in oklch, $bg, black 40%);
  }
  &:focus-within{

  }
  @if($size == "s"){
    padding: 4px;
    border-radius: 4px;
    height: 24px;
    gap: 4px;
    &:has(.icon){
      .icon{
        width: 16px;
        height: 16px;
        font-size: 12px;
      }
    }
  } @else if($size == "l"){
    padding: 10px;
    border-radius: 8px;
  }
  transition: all .2s ease-in-out;
}

@mixin ui__user--inline($fg:black,$avatar:"square"){
  .user--inline{
    display: inline-flex;
    align-items: center;
    vertical-align: center;
    gap: 4px;
    text-decoration: unset;
    color: $fg;
    padding: 2px;
    border-radius: .25rem;

    .avatar{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      content: "";

      width: 1.5rem;
      height: 1.5rem;

      background: grey var(--bg) center no-repeat / cover;

      border: 2px $fg solid;

      @if($avatar == "square"){
        border-radius: .25rem;
      } @else if($avatar == "round"){
        border-radius: 50%;
      }

      img{
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    .username{
      font-weight: 600;
    }

    &:hover,&:active{
      .username{
        text-decoration: underline;
      }
    }
    &:focus-within{
      outline: 2px solid $fg;
    }
  }
}

@mixin ui__sidebar__block(){
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 1px oklch(0% 0 0 / 20%) solid;
  border-radius: 8px;
  overflow: hidden;
  background: oklch(100% 0 0);
  .block__header,.block__body{
    display: flex;
    padding: 10px;
  }
  .block__header{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &[style^=--bg]{
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //opacity: 0.4;
        background: linear-gradient(0deg, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0) 100%), var(--bg) center / cover;
        z-index: -1;
      }
      .heading{
        flex: 1;
        font-weight: 600;
        color: white;
      }
    }
    .heading{
      flex: 1;
      font-weight: 600;
      font-size: 16px;
      color: black;
    }
    .actions{
      display: flex;
      gap: 8px;
    }
    .action{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      gap: 4px;
      height: 24px;
      border-radius: 8px;
      background: oklch(0% 0 0 / 40%);
      color: white;
    }
    .action--icon{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      height: 24px;
      width: 24px;
      border-radius: 8px;
      background: oklch(0% 0 0 / 40%);
      color: white;
      text-decoration: unset;
      font-size: 12px;
    }
  }
  .block__body{
    flex-direction: column;
    gap: 10px;
    section.meta{
      display:flex;
      align-items: center;
      gap: 10px;
      .left{
        display: flex;
        align-items: center;
        justify-content: center;
        width:48px;
        height:48px;
        border-radius: 8px;
        background: oklch(95% 0 0);
        aspect-ratio: 1/1;
        font-size: 24px;
      }
      .right{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 4px;
        >*{
          flex: 1;
        }
      }
    }
  }
  .block__footer{
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    .actions{
      display: flex;
      gap: 8px;
    }
    .action{
      @include ui__button(black,oklch(90% 0 0));
      flex: 1;
      &.action--primary{
        @include ui__button(white,oklch(50% 0.13 330));
      }
    }
  }
  &--media{

  }
}

@mixin ui__sidebar($fg: black,$bg: transparent){
  //height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  gap: 20px;
  .sidebar__group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    .sidebar__link{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      padding: 10px;
      border-radius: 8px;
      background: $bg;
      color: $fg;
      text-decoration: unset;
      font-weight: 600;
      vertical-align: center;
      &:has(.icon){
        .icon{
          display: flex;
          width: 20px;
          height: 20px;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          vertical-align: center;
        }
      }
      &:has(.thumb){
        .thumb{
          display: flex;
          width: 32px;
          height: 32px;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          border: 1px oklch(0% 0 0 / 20%) solid;
          border-radius: 8px;
        }
      }
      .text{

      }
      &.link--dark{
        &:hover,&:active,.active{
          background: $fg;
          color: white;
        }
      }
      &.link--light{
        &:hover,&:active,.active{
          background: $fg;
          color: black;
        }
      }
      &:hover,&:active,.active{
        background: $fg;
        color: white;
      }
      transition: background .2s ease-in-out, color .2s ease-in-out;
    }
  }
  .sidebar__block{
    @include ui__sidebar__block;
    &.block--missing{
      .block__body{
        display: flex;
        gap: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: oklch(0% 0 0 / .6);
        a{
          color: unset;
        }
      }
      .icon{
        font-size: 64px;
      }
      background: oklch(80% 0 0 / .1);
      border: 2px dashed oklch(0% 0 0 / .4);
    }
  }
}
@mixin ui__avatar($bg:grey,$type:"square",$size:50px){
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "";

  width: $size;
  height: $size;

  background: grey var(--bg) center no-repeat / cover;

  border: 2px $bg solid;

  @if($type == "square"){
    border-radius: .25rem;
  } @else if($type == "round"){
    border-radius: 50%;
  }

  img{
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

:root{
  /*theme colors*/
  //@include generate-variables($dark-theme);
  @include generate-variables(theme-light.$colors);
}

html {
  box-sizing: border-box;
}

html,body{
  min-height: 100%;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  //overflow: hidden;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.page__header{
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header__bg);
  padding: 0 10px;
  z-index: 1;
  .nav--left,.nav--right{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .nav--left{

  }
  .nav--right{

  }
  @include ui__user--inline($fg: white);
  .logo{
    @include ui__button(var(--header__text),transparent);
    //height: 32px;
    padding: 2px 8px;
    & > svg{
      //margin-top: 5px;
      vertical-align: -0.5em
    }
    border-radius: 8px;
    min-width: max-content;
  }
  .nav-group{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .nav__link{
    @include ui__button(var(--header__text),transparent);
  }
  .btn{
    @include ui__button(var(--header__text),var(--header__btn));
    &.btn--primary{
      background: var(--header__btn--primary);
      &:hover{
        background: color-mix(in oklch, var(--header__btn--primary), black 10%);
      }
      &:active{
        background: color-mix(in oklch, var(--header__btn--primary), black 60%);
      }
    }
  }
  .nav__search{
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    &:active,&:focus-within{
      outline: 2px solid black;
    }
    input{
      padding: 7px;
      outline: 0;
    }
    .btn{
      @include ui__button(var(--header__text),var(--header__btn--primary));
      padding: 8px 10px;
      border-radius: unset;
    }
  }
}

.page__body{
  display: grid;
  grid-template-areas: "aside-left body aside-right";
  grid-template-columns: auto 1fr auto;
  //overflow: hidden;
  //height: calc(100% - 60px);
  &[data-sidebars="left"]{
    .page__sidebar--right{
      display: none;
    }
    .page__sidebar--left{
      width: 200px;
    }
  }
  &[data-sidebars="right"]{
    .page__sidebar--left{
      display: none;
    }
    .page__sidebar--right{
      width: 300px;
    }
  }
  &[data-sidebars="both"]{

  }
  &[data-sidebars="none"]{
    grid-template-areas: "body";
    grid-template-columns: 1fr;
    .page__sidebar--right{
      display: none;
    }
    .page__sidebar--left{
      display: none;
    }
  }
  transition: grid-template-columns .5s ease-in-out;
}

.page__sidebar--left,.page__sidebar--right{
  position: sticky;
  top: 60px;
  height: calc(100dvh - 60px);
  @include ui__sidebar(var(--brand--primary));
  .sidebar__block{
    &.block--missing{

    }
  }
}

.page__sidebar--left{
  background: oklch(98% 0 0);
  grid-area: aside-left;
  //resize: horizontal;
  width: 200px;
  //align-self: start;
/*  &.collapsed{
    .sidebar__link .text{
      display: none;
    }
  }*/
}
.page__content{
  display: inline-flex;
  flex-direction: column;
  //justify-items: center;
  align-items: center;
  padding: 20px;
  scroll-padding: 10px;
  //overflow-y: auto;
  grid-area: body;
  >*:not(:last-child){
    margin: 0 0 20px 0;
  }
  //background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 50%, rgba(0,0,0,0) 100%);
  .btn{
    @include ui__button(var(--body__btn--text),var(--body__btn));
    &.btn--primary{
      background: var(--body__btn--primary);
      &:hover{
        background: color-mix(in oklch, var(--body__btn--primary), black 10%);
      }
      &:active{
        background: color-mix(in oklch, var(--body__btn--primary), black 60%);
      }
    }
  }
  @include ui__user--inline();
  .stories{
    max-width: 800px;
    background: white;
    //padding: 20px;
    height: max-content;
    >*:not(:last-child){
      margin: 0 0 20px 0;
    }
  }
  .story-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid oklch(0% 0 0 / 10%);
    background: white;
    .story{
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h{
        display: block;
      }
      .heading-container{
        display: flex;
        flex-direction: column;
        gap: 4px;
        >*{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 8px;
        }
        a{
          text-decoration: unset;
          color: unset;
          &:hover,&:active{
            text-decoration: underline;
          }
        }
        .badge{
          font-style: unset;
          padding: 4px;
          border: 1px solid oklch(0% 0 0);
          border-radius: .5rem;
          pointer-events: none;
        }
      }
      .story__heading{
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--story__heading);
      }
      /*.story__body{
        display: flex;
        flex-direction: column;
      }*/
      .story__source{
        .url{
          font-style: italic;
          opacity: .6;
        }
        font-size: .8rem;
      }
      .story__footer{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        >*{
          display: flex;
          align-items: center;
          gap: 8px;
        }
        .story__actions{
          .action{
            @include ui__button(var(--story__btn--action--text),var(--story__btn--action),"s");
          }
        }
      }
      .story__meta{
        opacity: .6;
        >*{
          display: inline-flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
    .left-container{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .left{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 80px;
        .story__score{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border: 2px solid oklch(0% 0 0 / 20%);
          border-radius: 8px;
          font-weight: 600;
        }
        .badges{
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
        .badge-group{
          display: flex;
          align-items: center;
          gap: 4px;
          .badge{
            flex: 1;
          }
        }
        .badge{
          display: flex;
          word-break: break-word;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 4px;
          font-style: unset;
          padding: 6px 8px;
          border: 2px solid oklch(0% 0 0 / .2);
          border-radius: .500rem;
          color: oklch(0% 0 0 / .5);
          user-select: none;
          &.badge--fill{
            border: 2px solid transparent;
            background: oklch(0% 0 0 / .2);
            color: black;
          }
        }
      }
      .thumb{
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        width: 80px;
        height: 80px;
        border: 2px solid oklch(0% 0 0 / 20%);
        border-radius: 8px;

        background: grey var(--bg) center no-repeat / cover;

        font-size: 32px;

        img{
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .comments-container{
    >*:not(:last-child){
      margin: 0 0 20px 0;
    }
    .comments{
      >*:not(:last-child){
        margin: 0 0 10px 0;
      }
    }
    .comment{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid oklch(0% 0 0 / 10%);
      background: white;
      .left-col,.center-col,.right-col{
        display: flex;
        gap: 8px;
      }
      .left-col{
        align-items: center;
        .col:first-child{
          align-items: center;
        }
        .col:nth-child(2){
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }
      .center-col{
        flex: 1;
        flex-direction: column;
      }
      .avatar{
        @include ui__avatar($size: 48px);
        &:has(i,i.fa,i.fa-regular,i.fa-solid,.icon,iconify-icon){
          font-size: 24px;
        }
      }
      .comment__timestamp{
        color: oklch(0% 0 0 / .4);
      }
      .comment__score{
        display: flex;
        align-items: center;
        height: 24px;
        border-radius: 4px;
        overflow: hidden;
        .action,.score{
          @include ui__button($bg: oklch(0% 0 0 / .1));
          height: 100%;
          padding: 4px;
          border-radius: unset;
          color: black;
        }
        .score{
          cursor: unset;
        }
      }
    }
    #comment-form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      >*:not(:last-child){
        width: 100%;
      }
      >*:last-child{
        width: auto;
      }
      .field-group{
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        *:not(label,.fixed){
          flex: 1;
        }
      }
      input,textarea{
        border-radius: 4px;
        padding: 8px;
        border: 1px solid oklch(0% 0 0 / .2);
      }
      button{
        @include ui__button($bg: var(--brand--primary));
      }
    }
  }
}
.page__sidebar--right{
  background: oklch(98% 0 0);
  grid-area: aside-right;
  width: 300px;
  //align-self: end;
}