@font-face {
    font-family: 'Ki';
    src: local('Ki Thin'), local('Ki-Thin'),
        url('Ki-Thin.woff2') format('woff2'),
        url('Ki-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Regular'), local('Ki-Regular'),
        url('Ki-Regular.woff2') format('woff2'),
        url('Ki-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Extra Light'), local('Ki-ExtraLight'),
        url('Ki-ExtraLight.woff2') format('woff2'),
        url('Ki-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Light'), local('Ki-Light'),
        url('Ki-Light.woff2') format('woff2'),
        url('Ki-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Thin Italic'), local('Ki-ThinItalic'),
        url('Ki-ThinItalic.woff2') format('woff2'),
        url('Ki-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Italic'), local('Ki-Italic'),
        url('Ki-Italic.woff2') format('woff2'),
        url('Ki-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Bold'), local('Ki-Bold'),
        url('Ki-Bold.woff2') format('woff2'),
        url('Ki-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Extra Bold Italic'), local('Ki-ExtraBoldItalic'),
        url('Ki-ExtraBoldItalic.woff2') format('woff2'),
        url('Ki-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Medium'), local('Ki-Medium'),
        url('Ki-Medium.woff2') format('woff2'),
        url('Ki-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Bold Italic'), local('Ki-BoldItalic'),
        url('Ki-BoldItalic.woff2') format('woff2'),
        url('Ki-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Medium Italic'), local('Ki-MediumItalic'),
        url('Ki-MediumItalic.woff2') format('woff2'),
        url('Ki-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Extra Bold'), local('Ki-ExtraBold'),
        url('Ki-ExtraBold.woff2') format('woff2'),
        url('Ki-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Light Italic'), local('Ki-LightItalic'),
        url('Ki-LightItalic.woff2') format('woff2'),
        url('Ki-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ki';
    src: local('Ki Extra Light Italic'), local('Ki-ExtraLightItalic'),
        url('Ki-ExtraLightItalic.woff2') format('woff2'),
        url('Ki-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

